<section id='spacing-fp' class='pt-5'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6 order-2 order-lg-1'>
				<img src='images/colorlogo.png' width='50%' />
				<p class='lead'>For those who look at the stars and get hungry,
				</p>
				<p class='lead'>You finally get the opportunity to give your own star.
				</p>
				<p class='lead'>Who is going to collect them all?
				</p>
				{{#if user}}
					<p><a href='#' class='btn btn-primary shadow mr-2'>Discover more</a><a
							href='#'
							class='btn btn-outline-primary'
						>3 stars just for {{user.username}}!</a></p>
				{{/if}}
				{{#unless user}}
					<p><a href='#' class='btn btn-primary shadow mr-2'>Discover more</a><a
							href='#'
							class='btn btn-outline-primary'
						>Sign Up</a></p>
				{{/unless}}
			</div>
			<div class='col-lg-6 order-1 order-lg-2'><img
					src='images/fp1.png'
					alt='landing image'
					class='img-fluid'
				/></div>
		</div>
	</div>
</section>

<!-- Portfolio-->
<section id='spacing-fp' class='pt-5'>
	<div class='container'>
		<h2>Ready to get hungry?</h2>
		<p class='lead text-muted mb-5'>We curated a list that you won't want to
			miss.</p>
		<div class='row'>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/card1.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5>
							<a
								href='/restaurants/tag/location/lisbon'
								class='text-dark'
							>Lisbon</a></h5>
						<p class='text-muted card-text'>Famous for its yellow trams and
							pastel de nata, it's a strong culinary emerging city.</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/card2.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5>
							<a
								href='/restaurants/tag/location/tokyo'
								class='text-dark'
							>Tokyo</a></h5>
						<p class='text-muted card-text'>The standart of quality is high,
							with a fantastic set of 3 stars.
						</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/card3.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5>
							<a
								href='/restaurants/tag/location/barcelona'
								class='text-dark'
							>Barcelona</a></h5>
						<p class='text-muted card-text'>The pioneers of avant-gard Cuisine
							are here. Have you been?</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<h1 class='mt-5 mb-5'>Foodporn</h1>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/magnolia.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5>
							<a
								href='/restaurants/64871918ea8142d510e0ead3'
								class='text-dark'
							>Magnolia</a></h5>
						<p class='text-muted card-text'>Italian food by Alberto Facanni.
							Complex and satisfying.
						</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/solutre.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5>
							<a
								href='http://localhost:3016/restaurants/64871918ea8142d510e0ea05'
								class='text-dark'
							>Au 14 Février</a></h5>
						<p class='text-muted card-text'>A love story between France and
							Japan where food lives hapilly forever after.</p>
						<p class='card-text'><a
								href='/restaurants/64871918ea8142d510e0ea05'
							>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/car-image1.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5> <a href='#' class='text-dark'>Alobar Yorkville</a></h5>
						<p class='text-muted card-text'>Toronto restaurant with one special
							star.</p>
						<p class='card-text'><a
								href='/restaurants/64871927ea8142d510e0f550'
							>Read more</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<br />
<br />
<header class='jumbotron jumbotron-fluid mt-5'>
	<div class='container-fluid text-center text-white'>
		<h1 class='display-3 mt-5'>Japan</h1>
		<p class='lead pb-4'>Much more than sushi.</p>
		<p><a
				href='/restaurants/tag/location/japan'
				class='btn btn-primary btn-lg mb-5'
				role='button'
			>Learn More</a></p>
	</div>
</header>