<div id='carousel' class='carousel carousel-dark slide'>
	<div class='carousel-indicators'>
		<button
			type='button'
			data-bs-target='#carousel'
			data-bs-slide-to='0'
			class='active'
			aria-current='true'
			aria-label='Slide 1'
		></button>
		<button
			type='button'
			data-bs-target='#carousel'
			data-bs-slide-to='1'
			aria-label='Slide 2'
		></button>
		<button
			type='button'
			data-bs-target='#carousel'
			data-bs-slide-to='2'
			aria-label='Slide 3'
		></button>

	</div>
	<div class='carousel-inner mh'>
		<div class='carousel-item active' data-bs-interval='10000'>
			<img src='/images/car-image1.jpg' class='d-block w-100' alt='...' />
			<!-- <div id="doverlay" class="d-block w-100"></div> -->
			<div class='carousel-caption text-white d-none d-md-block'>
				<h5>Japan</h5>
				<p>Some representative placeholder content for the first slide.</p>
			</div>
		</div>
		<div class='carousel-item' data-bs-interval='2000'>
			<img src='/images/car-image2.jpg' class='d-block w-100' alt='...' />
			<div class='carousel-caption text-white d-none d-md-block'>
				<h5>London</h5>
				<p>Some representative placeholder content for the second slide.</p>
			</div>
		</div>
		<div class='carousel-item'>
			<img src='/images/car-image3.jpg' class='d-block w-100' alt='...' />
			<div class='carousel-caption text-white d-none d-md-block'>
				<h5>Reading</h5>
				<p>Some representative placeholder content for the third slide.</p>
			</div>
		</div>
		<div class='carousel-item'>
			<img
				src='/starter-code/img/slider-4.jpg'
				class='d-block w-100'
				alt='...'
			/>
			<div class='carousel-caption text-white d-none d-md-block'>
				<h5>Third slide label</h5>
				<p>Some representative placeholder content for the third slide.</p>
			</div>
		</div>
	</div>
	<button
		class='carousel-control-prev'
		type='button'
		data-bs-target='#carousel'
		data-bs-slide='prev'
	>
		<span class='carousel-control-prev-icon' aria-hidden='true'></span>
		<span class='visually-hidden'>Previous</span>
	</button>
	<button
		class='carousel-control-next'
		type='button'
		data-bs-target='#carousel'
		data-bs-slide='next'
	>
		<span class='carousel-control-next-icon' aria-hidden='true'></span>
		<span class='visually-hidden'>Next</span>
	</button>
</div>