<section id='spacing-fp' class='pt-5'>
	<div class='container'>
		<div class='row'>
			<div class='col-lg-6 order-2 order-lg-1'>
				<img src='images/colorlogo.png' width='50%' />
				<p class='lead'>For those who look at the stars and get hungry,
				</p>
				<p class='lead'>You finally get the opportunity to give your own star.
				</p>
				<p class='lead'>Who is going to collect them all?
				</p>
				{{#if user}}
					<p><a href='#' class='btn btn-primary shadow mr-2'>Discover more</a><a
							href='#'
							class='btn btn-outline-primary'
						>3 stars just for {{user.username}}!</a></p>
				{{/if}}
				{{#unless user}}
					<p><a href='#' class='btn btn-primary shadow mr-2'>Discover more</a><a
							href='#'
							class='btn btn-outline-primary'
						>Sign Up</a></p>
				{{/unless}}
			</div>
			<div class='col-lg-6 order-1 order-lg-2'><img
					src='images/fp1.png'
					alt='landing image'
					class='img-fluid'
				/></div>
		</div>
	</div>
</section>

<!-- Portfolio-->
<section id='spacing-fp' class='pt-5'>
	<div class='container'>
		<h2>Ready to get hungry?</h2>
		<p class='lead text-muted mb-5'>We curated a list that you won't want to
			miss.</p>
		<div class='row'>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/car-image1.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5> <a href='#' class='text-dark'>Ex cupidatat eu</a></h5>
						<p class='text-muted card-text'>Ex cupidatat eu officia consequat
							incididunt labore occaecat ut veniam labore et cillum id et.</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/car-image2.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5> <a href='#' class='text-dark'>Tempor aute occaecat</a></h5>
						<p class='text-muted card-text'>Tempor aute occaecat pariatur esse
							aute amet.</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/car-image3.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5> <a href='#' class='text-dark'>Voluptate ex irure</a></h5>
						<p class='text-muted card-text'>Voluptate ex irure ipsum ipsum
							ullamco ipsum reprehenderit non ut mollit commodo.</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/car-image3.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5> <a href='#' class='text-dark'>Tempor commodo</a></h5>
						<p class='text-muted card-text'>Tempor commodo nostrud ex Lorem
							occaecat duis occaecat minim.</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/car-image2.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5> <a href='#' class='text-dark'>Et fugiat sint occaecat</a></h5>
						<p class='text-muted card-text'>Et fugiat sint occaecat voluptate
							incididunt anim nostrud ea cillum cillum consequat.</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
			<div class='col-md-4 mb-4'>
				<div class='card shadow border-0 h-100'><a href='#'><img
							src='images/car-image1.jpg'
							alt=''
							class='card-img-top'
						/></a>
					<div class='card-body'>
						<h5> <a href='#' class='text-dark'>Et labore tempor et</a></h5>
						<p class='text-muted card-text'>Et labore tempor et adipisicing
							dolor.</p>
						<p class='card-text'><a href='#'>Read more</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<br />
<br />
<header class='jumbotron jumbotron-fluid'>
	<div class='container-fluid text-center'>
		<h1 class='display-3'>Japan</h1>
		<p class='lead pb-4'>Much more than just Sushi.</p>
		<p><a href='#' class='btn btn-primary btn-lg' role='button'>Learn More</a></p>
	</div>
</header>