<html lang='en'>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0a4275;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" #navbarNav>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" class="text-info">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/auth/signup" class="text-info">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login" class="text-info">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout" class="text-info">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/profile" class="text-info">Profile</a>
          </li>
        </ul>
        <form class="d-flex" role="search" action="/search" method="POST">
          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
  </nav>



  {{{body}}}

  <br>
  <section class="">
    <footer class="text-center text-white" style="background-color: #0a4275;">
      <div class="container p-4 pb-0">
        <section class="">
          <p class="d-flex justify-content-center align-items-left">
            <span class="me-3">Emily's Fav Restaurant</span>
            <a type="button" class="btn btn-outline-light btn-rounded" href="https://www.instagram.com/pipatthecarriage">Pips</a>
          </p>
        </section>
        <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <a type="button" class="btn btn-outline-light btn-rounded" href="/auth/signup">Sign up!</a>
          </p>
        </section>
      </div>
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://guide.michelin.com/gb/en">guide.michelin.com</a>
      </div>
    </footer>
  </section>
</body>

</html>