<html lang='en'>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light">
    <img src="/images/bwlogo.png" width="100px">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" class="text-info">Home</a>
          </li>
          {{#unless user}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/auth/signup" class="text-info">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login" class="text-info">Login</a>
          </li>
          {{/unless}}
          {{#if user}}

          <li class="nav-item">
            <a class="nav-link" href="/auth/logout" class="text-info">Logout</a>
          </li>

          {{!-- <li class="nav-item">
            {{#if user}}<p>hi {{user.username}}😂</p> {{/if}}
          </li> --}}
          {{/if}}
        </ul>
        <form class="d-flex" role="search" action="/search" method="POST">
          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
  </nav>



  {{{body}}}

  <br>

  <br>
  <footer class="text-center text-black bg-light">
    {{#unless user}}
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <a type="button" class="btn btn-outline-dark btn-rounded" href="/auth/signup">Sign up!</a>
        </p>
      </section>
    </div>
    {{/unless}}
    <div class="text-center p-3">
      © 2020 Copyright:
      <a class="text-black" href="https://guide.michelin.com/gb/en" target="_blank">guide.michelin.com</a>
    </div>
    <div>
      <a href="https://www.instagram.com/pipatthecarriage" class="me-4 text-reset" target="_blank">
            Emily's Fav Restaurant</a>
      <a href="https://www.instagram.com/prado_restaurante/" class="me-4 text-reset" target="_blank">
      Pedro's Fav Restaurant</a>
    </div>
  </footer>
</body>

</html>