body {
  padding: 0px;
}

a {
  color: #00b7ff;
}

h1 {
  margin-left: 0.3em;
  color: 15px;
}
ul {
  list-style-type: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 3rem;
}


nav a:last-child {
  border-right: none;
}


.warning {
  padding: 1rem;
  font-weight: bold;
  border: 1px solid rgb(255, 213, 135);
  background-color: rgb(255, 213, 135);
}

.btn {
  margin: 0.3rem;
}
.card {
  border-width: 0;

}

#spacing-fp {
  padding-top: 10rem!important;
}

.jumbotron {
  background: url("/images/car-image1.jpg") no-repeat center;
}

