<div class="container">
	<h3>Edit the review: "{{title}}"</h3>
	<form>

		<div class="form-outline mb-4">
			<input type="text" value="{{title}}" required id="form4Example1" class="form-control" />
			<label class="form-label" for="form4Example1"></label>
		</div>



		<div class="form-outline mb-4">
			<textarea class="form-control" id="form4Example3" rows="4">{{comment}}</textarea>
			<label class="form-label" for="form4Example3"></label>
		</div>

		<div>
			<label for="multi-range-field" class="form-label"></label>
			<input id="multi10" type="range" class="multi-range" min="0" max="5" step="1" id="customRange3" value="{{rating}}">
		</div>


		<button type="submit" class="btn btn-primary btn-block mb-4">Review</button>
	</form>
</div>