<div class='container'>
	<h3>Tell us how was your experience at this restaurant:</h3>
	<form method='POST' action='/restaurants/{{_id}}/review'>

		<div class='form-outline mb-4'>
			<input
				type='text'
				name='title'
				placeholder='Title'
				id='form4Example1'
				class='form-control'
			/>
			<label class='form-label' for='form4Example1'></label>
		</div>

		<div class='form-outline mb-4'>
			<textarea
				class='form-control'
				name='comment'
				placeholder='Comment'
				id='form4Example3'
				rows='4'
			></textarea>
			<label class='form-label' for='form4Example3'></label>
		</div>
		<div class='imagechange'>
			<img src='images/range-slider/0.jpg' id='imgchange' />
		</div>
		<div>
			<label for='multi-range-field' class='form-label'></label>
			<input
				id='multi10'
				type='range'
				name='rating'
				value='1'
				class='multi-range'
				min='1'
				max='5'
				step='1'
				oninput='michelinRange()'
			/>
			<p>Value : <p id='rangevalue'></p></p>
		</div>

		<button type='submit' class='btn btn-primary btn-block mb-4'>Review</button>
	</form>
</div>

<script src='../../js/script.js'></script>