

<h3>Tell us how was your experience at this restaurant:</h3>
<form method="POST" action="/restaurants/{{_id}}/review">
<label>Title:</label>
<input type='text' name="title" required />
<label>Comment:</label>
<textarea type="text" name="comment" cols="30" rows="4" required></textarea>
<label>Rating:</label>
<input type="range" name="rating" min="1" max="5" step="1" required/>
<button type="submit">Review</button>

</form>



